{
  "extends": [
    "plugin:prettier/recommended",
    "eslint:recommended",
    "./src/features/typesafe-events/.eslintrc"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "ignorePatterns": ["dist", "*.md"],
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "extends": [
        "plugin:@typescript-eslint/recommended",
        "plugin:lit/recommended"
      ],
      "rules": {
        "no-case-declarations": "off"
      }
    },
    {
      "files": ["*.mjs"],
      "parserOptions": {
        "sourceType": "module"
      }
    },
    {
      "files": ["**/tools/**/*.mjs"],
      "env": {
        "node": true
      },
      "parserOptions": {
        "sourceType": "module"
      }
    }
  ]
}
