@import './variables';

.reveal-viewport {
	background-color: var(--r-theme-light-shades);
}

.reveal {
	font-family: $textFont;
	font-size: $textSize;
	font-weight: $textWeight;
	color: var(--r-theme-dark-shades);
}

.reveal ::selection {
	color: var(--r-theme-dark-shades);
	background: var(--r-theme-main-brand-color);
	text-shadow: none;
}

.reveal ::-moz-selection {
	color: var(--r-theme-dark-shades);
	background: var(--r-theme-main-brand-color);
	text-shadow: none;
}

.reveal .slides section,
.reveal .slides section>section {
	line-height: $textLineHeight;
	font-weight: $textWeight;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: var(--r-theme-main-brand-color);
	padding: 0;
	padding-bottom: 0.3em;

	font-family: $textFont;
	font-weight: $headingWeight;
	line-height: $headingLineHeight;

	word-wrap: break-word;
}

.reveal h1 { font-size: $heading1Size; }
.reveal h2 { font-size: $heading2Size; }
.reveal h3 { font-size: $heading3Size; }
.reveal h4 { font-size: $heading4Size; }

/*********************************************
 * OTHER
 *********************************************/

.reveal p {
	line-height: $textLineHeight;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 95%;
	max-height: 95%;
}
.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;

	text-align: left;
	margin: 0 0 0 $blockSize;
	padding: 0 0 1em 0;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
}

.reveal dt {
	font-weight: bold;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: 0 auto;
	padding: $blockSize;

	font-style: italic;
	background: var(--r-theme-light-accent);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
	.reveal blockquote p:first-child,
	.reveal blockquote p:last-child {
		display: inline-block;
	}

.reveal q {
	font-style: italic;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: 0 auto;

	text-align: left;
	font-size: 0.56em;
	font-family: $codeFont;
	line-height: $codeLineHeight;

	word-wrap: break-word;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
}

.reveal code {
	font-family: $codeFont;
	text-transform: none;
	tab-size: 2;
}

.reveal pre code {
	display: block;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}

.reveal .code-wrapper {
	white-space: normal;
}

.reveal .code-wrapper code {
	white-space: pre;
}

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table thead th {
	color: var(--r-theme-dark-accent);
	border-color: var(--r-theme-dark-shades);
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
	font-size: smaller;
}
.reveal sub {
	vertical-align: sub;
	font-size: smaller;
}

.reveal small {
	display: inline-block;
	font-size: calc($textSize / 2);
	line-height: calc($textLineHeight / 2);
	vertical-align: top;
}

.reveal small * {
	vertical-align: top;
}

.reveal img {
	padding: $blockSize 0;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a {
	color: var(--r-theme-light-accent);
	text-decoration: none;
	transition: color .15s ease;
}
	.reveal a:hover {
		color: var(--r-theme-dark-accent);
		text-shadow: none;
		border: none;
	}

.reveal .roll span:after {
	color: #fff;
	background: var(--r-theme-dark-accent);
}


/*********************************************
 * Frame helper
 *********************************************/

.reveal .r-frame {
	border: 4px solid var(--r-theme-dark-shades);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

.reveal a .r-frame {
	transition: all .15s linear;
}

.reveal a:hover .r-frame {
	border-color: var(--r-theme-dark-accent);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls {
	color: var(--r-theme-dark-accent);
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
	color: var(--r-theme-dark-accent);
}

/*********************************************
 * PRINT BACKGROUND
 *********************************************/
@media print {
    .backgrounds {
        background-color: var(--r-theme-light-shades);
    }
}
