.reveal
  .slides
    include ./intro.pug

    section
      h2 TypeScript
        p
          | TypeScript is a typed superset of JavaScript that compiles to plain JavaScript.
          | Any browser. Any host. Any OS. Open source.
